.MyProfileTop {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    width: 80%;

}

.divMyProfileBottom {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 30px;
    width: 80%;

}

.MyProfileAvatar {
    cursor: pointer;
}

.MyProfileH1 {
    margin: auto;
    margin-left: 50px;
}

.grayLine {
    margin: auto;
    background-color: rgb(179, 176, 176);
    width: 80%;
    height: 1px;
}

.MyProfileConTroller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.divButtonList {
    margin: 30px;
}

.divMyProfileDetailController {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

.divMyProfileH2 {
    margin: 0px;
    padding: 0px;
    color: #03045E;
    margin-left: 40px;
}

.divChangeDetail {
    width: 100%;
}