.divMyAccount {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divMyAccountH1 {
    margin-top: 50px;
    color: #03045E;
}

.divMyAccountP {
    width: 60%;
    margin-top: 80px;
    color: #03045E;
}

.divMyAccountTextField {
    width: 60%;
    margin-top: 40px;
}

.divMyAccountButton {
    width: 60%;
    margin-top: 30px;
    justify-content: left;

}