.formLoginMain {
    /* position: absolute; */
    position: sticky;
    top: 30%;
    left: 40%;
    z-index: 100000;
}

.LoginForm {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: gray 0px 0px 10px;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 40%;
}

.divLogin {
    margin: 0 auto;
    width: auto;
    height: 100%;

}

.spanLogin {
    text-align: center;
    background-color: #03045E;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #CAF0F8;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

.divCloseAll {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    z-index: 999;
    cursor: pointer;
}

.buttonLogin {
    margin-top: 10px;
}

.textForget {
    margin-bottom: 10px;
    color: rgb(8, 0, 255);
}

/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    align-self: center;
}

.divConfig .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    padding-right: 20px;
    width: 100%;
}

.divConfig .MuiFormControl-root .MuiTextField-root .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 400px;
}

.MuiFormControl-root.divConfig.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.css-1nrlq1o-MuiFormControl-root {
    padding-right: 0px;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    /* padding-right: 0px !important; */
/* /* } */
.buttonLogin>span {
    color: white;
}