.cardBody {
    display: flex;
    flex-direction: row;
    box-shadow: gray 0px 0px 5px;
    width: 430px;
    height: auto;
    padding: 5px;
    margin: 5px 15px 15px 15px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

.divCourseImage {
    width: 150px;
    height: 150px;

    margin-right: 5px;
}

.h2CourseCard,
.pCourseCard {
    margin: 0;
    font-size: small;
    margin-top: 1px;
    margin-bottom: 1px;
}

.divDetailCourseCard {
    display: flex;
    flex-direction: row;
}

.divCourseName {
    margin: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.threeTagControl {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.frontEnd {
    width: 100%;
    height: 100%;
    background-color: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backEnd {
    width: 100%;
    height: 100%;
    background-color: #ff9800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uxUi {
    width: 100%;
    height: 100%;
    background-color: #9c27b0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCourseDetail {
    width: 200px;
}